{% extends "base.html" %}

{% block content %}
 
<h2>{{post.title}}</h2>
{% load static %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
<hr>
{%if post.picture%}
<h2> published by {{post.author}} <img src="{{post.picture.url}}" alt="image" width="30" height="30" style="border-radius: 100px"></h2>
<hr>
<h2>{{post.message}} </h2>
{%else%}
<h2>{{post.message}} </h2>
{%endif%}

<a href="{% url 'messages' %}"><button class="back">back</button></a>
<a href="{% url 'likes' post.pk %}"><button class="button">like</button></a>
{{post.num_of_likes}}
<hr>
<h2><a href="{% url 'add comments' %}">add comments</a></h2>
<h1>comments!!!</h1>
<hr>



{% for messages in post.name.all %}
<div class="comments">
<br>
<h5>posted by {{ messages.author }}-{{message.created_at }}</h5> 
<h5>{{ messages.message }}</h5>
</div>

{% endfor %}





{% endblock content %}